@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap");
body {
  background-image: url(../images/bg.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
  font-family: Anton;
}
.container {
    width: 500px;
    background-color: #EEEEEE;
    margin-top: 15%;
    min-width: 200px;
    padding: 35px;
}
.container #author {
    font-family: abel;
}
.btn.btn-primary {
    background-color: red;
}

